<h1>Welcome to On Money, <%= @user.nickname %></h1>
<p>
  You have successfully change your password to: <%= @password %>
</p>
<p>
  If it was not you, please, visit <a href="http://165.22.203.185">our web-site</a> Support Page
</p>
<br>
<p>Thanks for request and have a great day!</p>
