Welcome to On Money, <%= @user.nickname %>
------------------------------------------
You have successfully change your password to: <%= @password %>

Thanks for request and have a great day!
------------------------------------------
If it was not you, please, visit <a href="http://165.22.203.185">our web-site</a> Support Page
